Node_red_application_code
[{"id":"da1cc460.46d738","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2f4a36ab.f6938a","type":"ui_form","z":"da1cc460.46d738","name":"","label":"","group":"d1646cde.6fcae","order":1,"width":6,"height":2,"options":[{"label":"Ask me here!","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"Send","cancel":"cancel","topic":"","x":90,"y":220,"wires":[["a3c53d7e.9f44d"]]},{"id":"a3c53d7e.9f44d","type":"function","z":"da1cc460.46d738","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":120,"wires":[["7832ca72.e6b9e4","49357da6.1a8a24"]]},{"id":"7832ca72.e6b9e4","type":"watson-conversation-v1","z":"da1cc460.46d738","name":"Customer Help Desk","workspaceid":"d28b3d22-be4d-4801-b608-ce9a2419ef9f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fd537a56-717a-4422-bebc-fe4cc3aae816","timeout":"","optout-learning":false,"x":440,"y":120,"wires":[["e2dceb1.1092d18","801d4813.6b28d8"]]},{"id":"49357da6.1a8a24","type":"ui_text","z":"da1cc460.46d738","group":"d1646cde.6fcae","order":2,"width":6,"height":1,"name":"","label":"You:","format":"{{msg.payload}}","layout":"row-left","x":390,"y":260,"wires":[]},{"id":"e2dceb1.1092d18","type":"debug","z":"da1cc460.46d738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":100,"wires":[]},{"id":"801d4813.6b28d8","type":"function","z":"da1cc460.46d738","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["a1a89857.c2adc8"]]},{"id":"a1a89857.c2adc8","type":"ui_text","z":"da1cc460.46d738","group":"d1646cde.6fcae","order":3,"width":6,"height":"1","name":"","label":"Bot:","format":"{{msg.payload}}","layout":"row-left","x":740,"y":320,"wires":[]},{"id":"d1646cde.6fcae","type":"ui_group","z":"","name":"Chatbot for ecobee3 manual","tab":"23aba3.64f7945e","order":1,"disp":true,"width":"6","collapse":false},{"id":"23aba3.64f7945e","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]
